{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template enrol_paymentproof/submission_list

    Template for displaying a list of payment proof submissions.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * submissions - Array of submission objects
    * courseurl - URL to the course
    * manageurl - URL to the management page
    * hassubmissions - Boolean indicating whether there are submissions

    Example context (json):
    {
        "submissions": [
            {
                "id": 1,
                "userid": 2,
                "username": "John Doe",
                "timecreated": "October 10, 2025, 9:00 AM",
                "status": "Pending",
                "statusclass": "badge badge-warning",
                "viewurl": "https://moodle.org/view.php?id=1",
                "approveurl": "https://moodle.org/approve.php?id=1",
                "rejecturl": "https://moodle.org/reject.php?id=1",
                "canaction": true
            }
        ],
        "courseurl": "https://moodle.org/course/view.php?id=2",
        "manageurl": "https://moodle.org/enrol/paymentproof/manage.php?id=2",
        "hassubmissions": true
    }
}}

<div class="enrol-paymentproof-submissions">
    <div class="mb-3">
        <a href="{{courseurl}}" class="btn btn-secondary">{{#str}}backtocourse, enrol_paymentproof{{/str}}</a>
    </div>

    <h3>{{#str}}submissionslist, enrol_paymentproof{{/str}}</h3>

    {{^hassubmissions}}
        <div class="alert alert-info">
            {{#str}}nosubmissions, enrol_paymentproof{{/str}}
        </div>
    {{/hassubmissions}}

    {{#hassubmissions}}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{{#str}}student, enrol_paymentproof{{/str}}</th>
                    <th>{{#str}}submissiondate, enrol_paymentproof{{/str}}</th>
                    <th>{{#str}}status, enrol_paymentproof{{/str}}</th>
                    <th>{{#str}}actions, enrol_paymentproof{{/str}}</th>
                </tr>
            </thead>
            <tbody>
                {{#submissions}}
                    <tr>
                        <td>{{username}}</td>
                        <td>{{timecreated}}</td>
                        <td><span class="{{statusclass}}">{{status}}</span></td>
                        <td>
                            <div class="submission-actions">
                                <a href="{{viewurl}}" class="btn btn-sm btn-info">
                                    {{#pix}}t/preview, core, {{#str}}view{{/str}}{{/pix}} {{#str}}view{{/str}}
                                </a>
                                
                                {{#canaction}}
                                    <a href="{{approveurl}}" class="btn btn-sm btn-success">
                                        {{#pix}}t/approve, core, {{#str}}approve, enrol_paymentproof{{/str}}{{/pix}} {{#str}}approve, enrol_paymentproof{{/str}}
                                    </a>
                                    <a href="{{rejecturl}}" class="btn btn-sm btn-danger">
                                        {{#pix}}t/delete, core, {{#str}}reject, enrol_paymentproof{{/str}}{{/pix}} {{#str}}reject, enrol_paymentproof{{/str}}
                                    </a>
                                {{/canaction}}
                            </div>
                        </td>
                    </tr>
                {{/submissions}}
            </tbody>
        </table>
    {{/hassubmissions}}
</div>